.two-column .right .panel {
	padding:15px;
	width:300px;
	margin-bottom:10px;
}
.two-column>.right {
	width:330px;
}
.two-column .right-side {
	float:right;
	width:310px;
}
.right .panel.menu {
	width:280px!important;
	padding:25px!important;
}
.right .panel.menu {
	position:relative;
}
.right .panel.menu .button {
	cursor:pointer;
	position:relative;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.right .panel.menu .button.textbox {
	margin-bottom:5px;
}
.right .panel.menu .button.textbox:last-of-type {
	margin-bottom:0;
}
.right .panel.menu .button h2 {
	color:#4E76C9;
	margin:0;
	line-height:16px;
}
.right .panel.menu .button:hover {
background-color:#232323;
}
.right .panel.menu .button:hover .active {
	border-right:14px solid #232323;
}.right .panel.menu .button.sub-button {
	border-bottom-right-radius:0;
	margin-bottom:0;
}
.right .panel.menu .sub-buttons {
	background-color:#181817;
	border-radius:0 0 4px 4px;
	margin-left:10px;
}
.right .panel.menu .sub-buttons .button {
	border-top:1px solid #2b2b2b;
	padding:5px 7px;cursor:pointer;
}
.right .panel.menu .sub-buttons .button:first-of-type {
	border-radius:0;
}
.right .panel.menu .sub-buttons .button:last-of-type {
	border-radius:0 0 4px 4px;
}
.right .panel.menu .active {
	border-bottom:18px solid transparent;
	border-right:14px solid #181817;
	border-top:18px solid transparent;
	height:0;
	left:-12px;
	position:absolute;
	top:0;
	width:0;
	display:none;
}
.right .panel.menu .button.selected,
.right .panel.menu .button.selected h2 {
	color:#85BF25;
}
.right .panel.menu.selected .active,
.right .panel.menu .button.selected .active {
	display:inherit;
}
.right .panel.menu .button .options {
	margin:5px 5px 0;
	display:none;
}
.right .panel.menu .button.selected .options {
	display:inherit;
}
.colorbox-popup {
	width:410px;
}