html {
	background-color: #121211;
}
body {
	height: 100%;
	color: #ddddd1;
	margin: 0;
	font-family: Arial, sans serif;
	font-size: 14px;
}
#topbar {
	width: 100%;
	background-color: #2b2b2b;
	font-size: 15px;
	height: 50px;
	font-weight: 700;
	position: relative;
	z-index: 10;
	box-shadow: 0 0 11px 1px #111;
	text-align: center;
}
#bannerWrapper {
	height: 50px;
}
#Banner {
	padding-top: 7px;
	height: 43px;
}
#main {
	position: relative;
	min-height: inherit;
}
#main.two-column {
	padding: 0;
	width: 1000px;
	margin-bottom: 20px;
	position: relative;
	margin: 10px auto;
}
a:link,
a:active,
a:visited {
	text-decoration: none;
	color: #4E76C9;
}
#save {
	width: 145px;
	height: 44px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	font-family: arial, sans-serif;
	background: linear-gradient(to bottom, #2b2b2b 0, #121211 100%);
	border-radius: 8px;
	border: 2px solid #444442;
	cursor: pointer;
}
#save:hover {
	width: 145px;
	height: 44px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	font-family: arial, sans-serif;
	background: linear-gradient(to bottom,#2b2b2b 0,#444442 0,#121211 100%);
	border-radius: 8px;
	border: 2px solid #444442;
	cursor: pointer;
}
#save:active {
	width: 145px;
	height: 44px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	font-family: arial, sans-serif;
	background: #121211;
	border-radius: 8px;
	border: 2px solid #444442;
	cursor: pointer;
}
#affiliation {
	color: red;
}
#filth {
	text-decoration: line-through;
}
#tipjar {
	color: #85BF25;
}
input[type=text]{
	width: 445px;
	margin-right: 5px;
	float: left;
	height: 32px;
	font-family: inherit;
	border: 1px solid #171717;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
	border-bottom: 1px solid #333;
	background-color: #1c1c1c;
	outline: 0 none;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: .9em;
	line-height: 1.5em;
	resize: none;
	color: #f2f2f2;
	letter-spacing: .02em;
}
button {
	width: 78px;
	height: 33px;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	font-family: arial,sans-serif;
	background: linear-gradient(to bottom,#2b2b2b 0,#121211 100%);
	border-radius: 4px;
	border: 2px solid #444442;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
#footer {
	clear: both;
	text-align: right;
	font-size: .8em;
	word-spacing: normal;
	padding: 0;
	color: #444442;
}

.CTusername {
	max-width: 100px;
	word-wrap: break-word;
}
.CThtml {
	max-width: 350px;
	word-wrap: break-word;
}
.CTvisual {
	max-width: 150px;
	word-wrap: break-word;
}
#UserTags {
	height: 150px;
	overflow: auto;
}
#CTEditBox{
	max-width: 350px;
	margin-right: 0px;
}